

<!DOCTYPE html>

<html>
<head>
    <script src="~/JS/Aciertos.js" language="Javascript">

    </script> <!--Propiedad fuente-->
    <script language="Javascript">
        acertar();

    </script>
   
</head>
<body>
    <a href="Index">Volver al inicio</a>

    <a href="Aciertos">Volver a adivinar</a>
</body>
</html>
