

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GUIA PRACTICA</title>
</head>
<body>
    <h1>Guia Práctica</h1>
    <ul>
        <li><a href="/Home/Rimas">Rimas</a></li>
        <li><a href="/Home/Listas">Listas</a></li>
        <li><a href="/Home/Combo">Combos</a></li>
        <li><a href="/Home/Tablas_basicas">Tablas Básicas</a></li>
        <li><a href="/Home/Tablas_Avanzadas">Tablas Avanzadas</a></li>
        <li><a href="/Home/Sumar">Sumar</a></li>
        <li><a href="/Home/Aciertos">Acertar al numero</a></li>
        <li><a href="~/Views/Home/Principal.aspx.cs">Calcular esfuerzo</a></li>
        
    </ul>
</body>
</html>
