


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EJEMPLO DE LISTAS</title>
</head>
<body>
    <h1>LISTAS</h1>
    <!-- LISTA ORDENADA-->
    <ol>
        <li>SISTEMAS</li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ol>
    <br>
    <!-- LISTA SIN ORDENAR-->
    <ul>
        <li>SISTEMAS</li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ul>
    <br>
    <!-- LISTA DE GLOSARIO-->
    <dl>
        <dt>Término 1</dt>
        <dd>Definición</dd>
        <dt>Término 2</dt>
        <dd>Definición</dd>
    </dl>
    <br>
    <!-- LISTA ANIDADA-->
    <ul>
        <li>CARRERAS
            <ul>
                <li>SISTEMAS</li>
                <li>INGENIERIA</li>
                <li>DERECHO</li>
            </ul>
        </li>
        <li>INGENIERIA</li>
        <li>DERECHO</li>
    </ul>
</body>
</html>
