

<!DOCTYPE html>

<html>
<head>
    <script src="~/JS/Sumar.js" language="Javascript">

    </script> <!--Propiedad fuente-->
    <script language="Javascript">
        var Nro1 = eval(prompt("ingrese Nro1", 1));
        var Nro2 = eval(prompt("ingrese Nro2", 1))
        calc(Nro1, Nro2);
        
    </script>
    </head>
<body>

    <a href="Index">Volver al inicio</a>
    <a href="Sumar">Volver a sumar</a>
</body>
</html>
