
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EJEMPLO DE TABLAS AVANZADAS</title>
</head>
<body>
    <h1>Tablas Avanzadas</h1>
    <table width="50%" border="1" cellspacing="3" cellpadding="2">
        <tr>
            <td colspan="2" align="right">Dato1</td>
            <td>Cualquier text</td>
            <td rowspan="2">Dato 3</td>
        </tr>
        <tr>
            <td>DATO4</td>
            <td>DATO4</td>
            <td align="center">DATO 5</td>
        </tr>
    </table>
</body>
</html>
