
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tablas_basicas</title>
</head>
<body>
    <h1>TABLAS Básicas</h1>
    <table border="1">
        <tr>
            <th>CABECERA 1</th>
            <th>CABECERA 2</th>
            <th>CABECERA 3</th>
        </tr>
        <tr>
            <th>DATO 1</th>
            <th>DATO 2</th>
            <th>DATO 3</th>
        </tr>
        <tr>
            <th>DATO 4</th>
            <th>DATO 5</th>
            <th>DATO 6</th>
        </tr>
    </table>
</body>
</html>
