
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formularios de registro - Mi web</title>
</head>
<body>
     
       <h1>Formulario de registro</h1>
       <form action="" method="get">
           <p>Nombre: <input type="text" name="nombre" size="50" /></p>
           <p>Apellidos: <input type="text" name="apellido" size="50" /></p>
           <p>Sexo: <input type="radio" name="hm" value="h" />Hombre
                    <input type="radio" name="hm" value="m" />Mujer
           </p>
           <p>Correo <input type="email" name="mail" size="100"</p>
           <p><input type="checkbox" checked="checked" />Deseo recibir informacion sobre novedades y ofertas</p>
           <p><input type="checkbox" />Declaro haber leido y aceptar las condiciones generales del programa y la normativa sobre la politica de datos</p>
       
           <input type="submit" value="Enviar">
       </form>
    
</body>
</html>
