<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prueba de HTML5</title>
</head>
<body>
    <form action="" method="get">
        <p>Nombre: <input type="text" name="nombre" size="50" autofocus="autofocus" /></p>
        <p>Correo <input type="email" name="mail" size="100" required="required" /></p>
        <p>URL <input type="url" name="url" size="100" placeholder="Escribe la URL de tu página web personal" /></p>
        <p>Fecha <input type="date" /></p>
        <p>Time <input type="time" /></p>
        <p>Fecha y Hora <input type="datetime" /></p>
        <p>Mes <input type="month" /></p>
        <p>Semana <input type="week" /></p>
        <p>Número <input type="number" /></p>
        <p>Teléfono <input type="tel" /></p>
        <p>Témino de busqueda <input type="search" /></p>
        <p>Color favorito <input type="color" /></p>

        <input type="submit" value="Enviar" name="envio">
    </form>

</body>
</html>
