

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina Principal</title>
</head>
<body>

    <h1>Intro al HTML</h1>

    <h2>Ejercicios prácticos</h2>
    <ul>
        <li><a href="/Home/Ejercicio1">Conceptos básicos 1</a></li>
        <li><a href="/Home/Ejercicio2">Conceptos básicos 2</a></li>
        <li><a href="/home/Ejercicio3">Conceptos básicos 3</a></li>
        <li><a href="/home/Ejercicio4">Conceptos básicos 4</a></li>
        <li><a href="/home/Enlaces">Enlaces</a></li>
        <li><a href="/home/Listas">Listas</a></li>
        <li><a href="/home/Tablas_1">Tablas 1</a></li>
        <li><a href="/home/Tablas_2">Tablas 2</a></li>
        <li><a href="/home/Formularios_1">Formularios 1</a></li>
        <li><a href="/home/Formularios_2">Formularios 2</a></li>
        <li><a href="/home/Formularios_HTML5">Formularios HTML5</a></li>
    </ul>
    <br />
    
    <p>
        Asignatura LPPA
    </p>
    <p>
        UAI
    </p>
    <span>Sede Norte |</span>
    <span> Leardi Emmanuel</span>
</body>
</html>
