<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Shared/_layout.html" type="text/html">
</head>
<body>
    
</body>
</html>
